<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Cours</title>
</head>
<body>
    <form action="/cours" method="post">
        <label for="nomDuCours">Nom du Cours: </label>
        <input type="text" name="nomDuCours" placeholder="Calcul II">
        <br>
        <label for="profs">Choisi le prof du cours:</label>
        <select name="profs" id=""><% data.forEach(prof => { %>
         <option value="<%= prof._id %>"><%= prof.nom %>, <%= prof.prenom %></option>
        <% }) %></select>
        <br>
        <button>Submit</button>
    </form>



    <ul>
        <% coursData.forEach(cours => { %>
            <a href="/cours/<%= cours._id %>"><%= cours.nomDuCours %>: <%= cours.nomDuProf %></a> <br>
        <% }) %>
    </ul>
    <a href="/">Retourner au menu</a>

</body>
</html>